@import "variables";
@import "mixins";

@tooltip-padding: 6px;

.connect-chart{
    box-sizing: @box-sizing;
    position: relative;
    height: 100%;
}

.connect-chart{
    div.c3{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    &.connect-chart-line, &.connect-chart-spline, &.connect-chart-bar{
        .connect-error{    
            box-sizing: @box-sizing;
            position: absolute;
            font: @label-size @label-font-family;
            color: @light-label-color;
            span{
                display: block;
                text-align: center;
                font-size: 14px;        
            }

            .middle();
        }

    }

    &.connect-chart-gauge{
        .connect-error{    
            position: absolute;
            font: @label-size @label-font-family;
            color: @light-label-color;
            span{
                display: block;
                text-align: center;
                font-size: 14px;        
            }
            bottom: 10px;
            left: 0;
            right: 0;
        }
    }
}

.c3-legend-item{
    font: @label-size @label-font-family;
    color: @label-color;
}

.c3-chart-arc, .c3-chart-arcs{
    .c3-gauge-value, .c3-chart-arcs-gauge-min, .c3-chart-arcs-gauge-max{
        font-family: @label-font-family;
        fill: @label-color;
    }

    .c3-chart-arcs-gauge-min, .c3-chart-arcs-gauge-max{
        font-size: @label-size;
    }
}

.c3-axis, .c3-line{    
    fill: @light-label-color;
}

.c3 path, .c3 line {
    stroke: @light-label-color;
}

.c3 .c3-legend-item text{
    font: @label-size @label-font-family;
}

.c3 .tick text{
    font: @tick-size @label-font-family;
}

.c3-tooltip-container{
    th{
        background-color: @text-value-color;
        border-width: 0;
        font: @label-size @label-font-family;
    }
    td{
        padding-top: @tooltip-padding;
        padding-bottom: 0;
        border-width: 0;
        font: @label-size @label-font-family;
    }
    tr:last-child{
        td{
            padding-bottom: @tooltip-padding;
        }
    }
    tr{        
        border-width: 0;
    }
    .name{
        span{
            border-radius: 50%;
        }
    }
    .std-border(@light-label-color);
}

.connect-chart-line, .connect-chart-spline, .connect-chart-bar{
    &.connect-viz-loading, &.connect-viz-in-error{
        .c3 text{
            display: none;
        }
    }    
}