.connect-table {
    font-family: @table-font-family;
    color: @table-text-color;
    overflow-y: hidden;

    .grow-results;

    .connect-error{    
        .middle();
    }

    &.connect-viz-loading, &.connect-viz-in-error{
        th,td {
            display: none;
        }
    }

    .connect-table-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: hidden;

        .connect-table-scrolling-inner {
            width: min-content;
            min-width: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
        }

        border-top: @table-border;
        border-bottom: @table-border;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        font-size: @table-font-size;
       
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    padding-top: @cell-vertical-padding-default;
                    padding-bottom: @cell-vertical-padding-default;
                    padding-left: @cell-horizontal-padding-default;
                    padding-right: @cell-horizontal-padding-default;
                    &:first-child {
                        padding-left: @cell-horizontal-padding-default * 2;
                    }
                    &:last-child {
                        padding-right: @cell-horizontal-padding-default * 2;
                    }

                    vertical-align: @table-vertical-text-align;
                    text-align: @table-default-text-align;
                    &.isNumeric {
                        text-align: @table-numeric-text-align;
                    }
                    &.isGrouped {
                        text-align: @table-grouped-text-align; 
                    }

                }
            }
        }

        > thead > tr > th {
            > div, > span {
                display: none;
            }
            vertical-align: bottom;
            border-bottom: @table-border;
            padding-top: @cell-vertical-padding-large;
            padding-bottom: @cell-vertical-padding-large;
        }

        tbody tr:first-child {
            th, td {
                padding-top: @cell-vertical-padding-large;  
            }
        }

        // Suppress grouped and interval header styling
        tbody {
            th.isGrouped,
            th.isInterval {
                font-weight: normal;
            }
        }

        > tbody > tr {
            background-color: @table-row-bg;
        }
    }
}

// Zebra-striping
.connect-table-striped {
    .connect-table {
         table {
            > tbody > tr:nth-of-type(odd) {
                background-color: @table-row-bg-alternate;
            }
         }  
    }
}

// Hover
.connect-table-hover {
    .connect-table {
         table {
            > tbody > tr:hover {
                background-color: @table-row-bg-hover;
            }
         }  
    }
}

// Solid background
.connect-table-solid-header {
    .connect-table {
        &.connect-viz-loading {
            .connect-table-wrapper {
                background-color: @table-header-bg;
            }
            .connect-table-wrapper.isLoading {
                background-color: transparent;
            }            
        }
    }
}

// Fixed Header
.connect-table-fixed-header {
    .connect-table {
        &:not(.connect-viz-loading) {
            .connect-table-wrapper {
                border-top: none;
            }
        }

        .connect-table-wrapper {
            padding-top: @table-fixed-header-height;

            .connect-table-scrolling-inner {
                border-top: @table-border;
                overflow-y: scroll;
            }
        }

        table > thead > tr {
            > th {
                height: 0;
                line-height: 0;
                padding-top: 0;
                padding-bottom: 0;
                color: transparent;
                border: none;
                white-space: nowrap;

                > div, > span {
                    display: inline-block;
                    position: absolute;
                    top: @table-fixed-header-height / 2;
                    color: @table-text-color;
                }
            }

            > th:first-child {
                > div, > span {
                    border: none;
                }
            }
        } 

        .header-background {
            height: @table-fixed-header-height;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
        }
    }
}






