@import "variables";
@import "mixins";

.connect-text{
    box-sizing: @box-sizing;
    position: relative;

    .vertical-middle();

    .connect-text-value{
        position: relative;
        display: block;
        text-align: center;
        font: @text-value-size @text-value-font-family;
        color: @label-color;
        line-height: @text-value-line-height;
        
        span{
            position: relative;
        }

        transition: color @text-value-animation-delay linear;

        .connect-text-icon, .connect-text-icon{
            position: absolute;
            visibility: hidden;
            font-size: @text-value-icon-size;
            left: -@text-value-icon-size;
        }

        .connect-text-icon-increase{
            bottom: @text-value-icon-position-start;
            transform: translateY(50%);
            transition: visibility @text-value-animation-delay linear, bottom @text-value-animation-delay linear;
        }

        .connect-text-icon-decrease{
            top: @text-value-icon-position-start;
            transform: translateY(-50%);
            transition: visibility @text-value-animation-delay linear, top @text-value-animation-delay linear;
        }

        &.connect-text-value-increasing{
            color: @text-value-increasing-color;     

            .connect-text-icon-increase{
                visibility: visible;
                bottom: @text-value-icon-position-finish;
            }
        }

        &.connect-text-value-decreasing{
            color: @text-value-decreasing-color;

            .connect-text-icon-decrease{
                visibility: visible;
                top: @text-value-icon-position-finish;
            }
        }
    }

    &.connect-viz-loading, &.connect-viz-in-error{
        .connect-text-value > span{
            visibility: hidden;
        }
    }    

    .connect-error{    
        .middle();
    }
}