@import "variables";
@import "mixins";

.connect-text{
    box-sizing: @box-sizing;
    position: relative;

    .vertical-middle();

    .connect-text-value{
        position: relative;
        display: block;
        text-align: center;
        font: @text-value-size @text-value-font-family;
        color: @label-color;
        line-height: @text-value-line-height;

        transition: color 800ms linear;

        &.connect-text-value-increasing{
            color: #7ED321;
        }

        &.connect-text-value-decreasing{
            color: #D0021B;
        }
    }

    &.connect-viz-loading, &.connect-viz-in-error{
        .connect-text-value > span{
            visibility: hidden;
        }
    }    

    .connect-error{    
        .middle();
    }
}