@strong: 700;
@title-size: 16px;
@label-size: 12px;
@tick-size: 10px;
@label-color: #34495E;
@label-font-family: 'Roboto', sans-serif;
@loader-opacity: 0.35;
@viz-opacity-while-loading: 0.35;
@light-label-color: #bdc3c7;

@box-sizing: border-box;

@text-value-size: (@label-size * 3.5);
@text-value-color:  #333333;
@text-value-line-height: 1.1;
@text-value-font-family: 'Open Sans', sans-serif;

@table-text-color: #333;
@table-border-color: #DEDEDE;
@table-header-bg: #ECF3FC;
@table-row-bg-hover: #DBE9F9;
@table-row-bg: #FFFFFF;
@table-row-bg-alternate: #F6F9FD;
@table-fixed-header-height: 46px;

@cell-vertical-padding-default: 6px;
@cell-horizontal-padding-default: 10px;
@cell-vertical-padding-large: @cell-vertical-padding-default * 1.5;
@cell-horizontal-padding-large: @cell-horizontal-padding-default * 1.5;

@chart-tooltip-padding: 6px;