@import "../../node_modules/bootstrap/less/bootstrap";

body{
    background-color: #fff;
}

div.example-viz{
    height: 350px;
    padding-top: 50px;
    .make-sm-column(12);
    .make-md-column(6);
}